<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusão da Doação</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body class="desfocar">
    <center>
        <br><br>
        <h2 class="titulo-index">Obrigado pela doação!</h2><br><br>
        <img src='./static/condoar.png' /><br><br><br>
        <a href="/"><button type="submit">VOLTAR PARA A PÁGINA INICIAL</button></a>
        <a href="/doar"><button type="submit">DOAR NOVAMENTE</button></a>
        <a href="/ranking"><button type="submit">RANKING DE DOAÇÕES</button></a><br><br><br>
        <%- include("../patrials/footer") %>
</body>

</html>