<!DOCTYPE html>
<html lang="pt-br">

<%- include("../patrials/head") %>

<body class="desfocar">
  <center>
    <main>
      <br><br><br>
      <h2 style="text-align: center; margin-bottom: 20px;">Só um docente pode doar</h2><br><br><br><br><br><br>
      <div class="formItens">
        <a href="/"><button type="submit">VOLTAR</button></a>
      </div>
    </main><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%- include("../patrials/footer") %>
</body>

</html>