<!DOCTYPE html>
<html lang="en">

<%- include("../patrials/head") %>

    <body class="desfocar">
        <center><img src='./static/info.jpg' /><a href="/"><br><br>
                <button>Voltar</button></a>
        </center><br>
        <%- include("../patrials/footer") %>
    </body>

</html>