<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANKING</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body class="desfocar">
    <center><br>
        <main>
            <%- include("../patrials/usertable"); %>
        </main><br><br><br><br><br><br><br><br>
        <a href="/"><button type="submit">VOLTAR</button></a><br><br><br>
        <center>
            <%- include("../patrials/footer") %>
</body>

</html>